<div>
	<ul class="menu">
		<li><a href="accion.php?name=clientes&opcion=nuevoCliente" class="nwin" id="nuevoCliente" title="Nuevo Cliente" rev="550">Nuevo Cliente</a></li>
		<li><a href="accion.php?name=cambios" class="nwin" id="generarArchivos" title="Generar Archivos" rev="550">Generar Archivos</a></li>
		<li><a href="accion.php?name=cambios&opcion=aplicar" class="nwin" id="generarArchivos" title="Generar Archivos" rev="500">Aplicar Cambios</a></li>
	</ul>
	<div class="cuerpo">
		<h1>Clientes</h1>
		<table width='100%' cellspacing='0' cellpadding='0' id='clientesT'>
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Nombre</th>
					<th>fecha</th>
					<th>Direccion</th>
					<th>Grupo</th>
					<th>Hosts</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
