body{
	color: #999;
	margin: 0;
	padding: 0;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	background: #3B0F07 url(../img/bg.jpg) repeat-x center top;
	background-size: 100% 100% ;
	background-attachment: fixed;
}

a{
	text-decoration:none;
}
h1,h2,h3,h4{
	padding: 2px 0 2px 30px;
	margin: 3px 0px 10px;
	border-bottom: 2px solid #d83c03;
	color: #d83c03;
	font-weight: normal;
}

fieldset{
	border-radius: 5px;
	border: 1px solid #aaa;
}



section,footer{
	display: block;
	padding: 1%;
}
section{
	background-color: rgba(226, 226, 226, .3);
	color: #444;
}
	section article{
		background-color: #fff;
	}
footer{
	color: #fff;
	text-align: center;
	padding: 15px;
}

header{
	display: block;
	background-color: #ce3902;
	padding: .5%;
	color: #fff;
}
	header .right{
		text-align: right;
	}
		header .right a{
			color: #fff;
			background-color: #a9200e;
			padding: 5px 15px;
			border-radius: 5px;
			font-size: 12px;
			box-shadow: inset 0 0 3px 1px #ec5c36;

		}
		header .right a:hover{
			background-color: #c22714;
		}
	header h3 {
		color: #fff;
		border: none;
	}

nav{
	display: block;
	padding: 10px 3%;
}
	nav ul{
		padding: 0;
		margin: 0;
	}
	nav li{
		list-style: none;
		padding: 0;
		margin: 0 5px;
		display: inline-block;
		vertical-align: top;
	}
	nav a{
		background-color: transparent;
		background-position: 50% 10px;
		background-repeat: no-repeat;
		border-radius: 5px;
		color: #333;
		display: block;
		font-family: "Trebuchet MS", Arial;
		font-size: 13px;
		margin: 10px 0;
		padding: 60px 10px 10px;
		text-align: center;
		width: 85px;
		outline:0;

	}
	nav a{
		background-color: rgba(255,255,255,0.3);
	}

	nav a#clientes{
		background-image: url(../img/clientes.png);
	}
	nav a#hosts{
		background-image: url(../img/hosts.png);
		background-position: 50% 50%
	}
	nav a:hover, nav a.active{
		box-shadow: inset 0 0 20px  rgba(206, 57, 2,.7);
	}
nav.sub{
	background-color: rgba(206, 57, 2, .7);
	padding: 12px 3%;
	box-shadow: inset 0 0 10px 0 rgba(250,250,250,.3), 0 0 5px rgba(206, 57, 2,.7);
}
	nav.sub a, nav.sub a.active{
		background-color: rgba(222, 72, 2, .8);
		border-radius: 5px;
		color: #fff;
		padding: 5px 8px;
		margin: 0;
		width: auto;
		outline:0;
	}
	nav.sub a:hover{
		background-color: rgb(255, 153, 0);
	}

section article{
	padding: 10px;
	min-height: 400px;
	margin: 0 auto;
	display: block;

}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


.login{
	background-color: rgba(226, 226, 226, .15);
	max-width: 450px;
	padding: 20px;
	margin: 20% auto 0;
	display: block;
	border-radius: 10px 50px;
}
.login label{
	color: #fff;
}
section.formulario{
	background-color: #fff;
}
.formulario label, .login label{
	display: block;
	line-height: 40px;
}

.editar, .eliminar, .host{
	width: 20px;
	height: 20px;
	border-radius:  5px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px;
}
.editar:hover, .eliminar:hover, .host:hover{
	background-color: #ffd699;
}
.editar{background: #ddf3ff url(../img/edit.png) no-repeat 50% 50%;}
.eliminar{background: #ddf3ff url(../img/delet.png) no-repeat 50% 50%;}
.host{background: #ddf3ff url(../img/host.png) no-repeat 50% 50%;}

.lista_hosts{
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
}
.lista_hosts th{
	font-weight: bold;
	text-align: center;
}
.btn{
	display: block;
	padding: 10px;
	text-align: center;
}

.valid_error{border: 1px solid #f73b07 !important;}
.vError{
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid red;
    color: #e86f6f;
    border-radius: 2px;
    padding: 5px;
    font-size: 11px;
    font-family: "Tahoma";
    min-width: 120px;
}

.bullet_on, .bullet_no_conectado{
	background-color: #69ce04;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 0 5px;
}
.bullet_no_conectado{
	background-color: orange;
}