@font-face {
	font-family: 'Carrois Gothic';
	font-style: normal;
	font-weight: 400;
	src: local('Carrois Gothic'), local('CarroisGothic-Regular'), url(../font/carroisgothic.woff) format('woff');
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Carrois Gothic', sans-serif;
	font-size: 1.2em;
	background: #3B0F07 url(../img/bg.jpg) repeat-x center top;
	background-size: 100% 100% ;
	background-attachment: fixed;
}
header, section, footer{
	margin: .5em 10%;
}
section{
	background-color: #fff;
	padding: 1.5em;
	-webkit-box-shadow: 7px 7px 9px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 9px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 9px 0px rgba(50, 50, 50, 0.75);
}
section h2{
	margin-top: 0;
	padding-top: 0;
}
header{
	text-align: center;
}
footer{
	color: #fff;
	text-align: center;
}
.content{margin-bottom: 0;}
.datos{
	background-color: #d83c03;
	color: #fff;
	margin-top: 0;
	font-size: 1.2em;
	padding: .2em 1.5em .5em;

}
.datos h3{
	margin: 0;
	padding: .5em 0 0;
}
.aclaracion{
	padding: 10px;
	background-color: #DDF3FF;
	color: #333;
	font-style: italic;
	border-radius: 7px;
}
.error{
	padding: 5px;
	background-color: #f2f6f8;
	color: red;
	border-radius: 5px;
	display: none;
}
.botonenviar{
	*display: inline; /* Fix for IE7 */
	color: #fcfcfc;
	display: inline-block;
	font-size: 1.2em;
	margin: 10px auto;
	padding: 5px 10px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ffa84c;
	zoom: 1; /* Fix for IE7 */
	background: #ffa84c; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}
.botonenviar:hover, .botonenviar:active {
	color:#fff;
	background: #ff7400; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff7400 0%, #ff7400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7400), color-stop(100%,#ff7400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff7400 0%,#ff7400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff7400 0%,#ff7400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff7400 0%,#ff7400 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff7400 0%,#ff7400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#ff7400',GradientType=0 ); /* IE6-9 */
}
form{
	width: 550px;
	margin: 0 auto;
}
input{
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #aaa;
	width: 300px;
	color: #444;
}
input:focus{
	border: 1px solid #5bbcff;
	box-shadow: 0 0 5px 0 rgba(98, 209, 255, 0.8), inset 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
fieldset{
	border-radius: 5px;
	border: 1px solid #aaa;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size: 1.3em;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
	width: auto;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.myButton:active {
	position:relative;
	top:1px;
}
